<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up">Hola!</span>
            <span class="down">Soy Rodrigo Ramírez</span>
        </h1>
        <p class="header-subtitle">DESARROLLADOR WEB</p>

        <button class="btn btn-primary"><a href="#about" style="color: white;"><i class="ti-angle-double-down"></i>  Conoceme más</a></button>
    </div>
</header><!-- end of page header -->

<!-- about section -->
<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="assets/imgs/yo.jpg" class="about-img"
                    alt="My Cartoon">
            </div>
            <div class="about-caption pl-4">
                <p class="section-subtitle">Quién soy?</p>
                <h2 class="section-title mb-3">Acerca de mí</h2>
                <p>
                    Soy un Analista/Desarrollador de sistemas, vengo trabajando en el ambito hace más de 10 años,
                    unos cuantos en el sector privado y varios años en el sector público, como funcionario público y luego como consultor de sistemas.
                    <br>
                </p>
                <button class="btn-rounded btn btn-primary mt-4">
                    <a style="color: white;"  href="https://www.linkedin.com/in/rodrigo-ramirez-3ba652117" target="_blank">
                        <i class="ti-linkedin"></i> LinkedIn
                    </a>
                </button>
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section> <!-- end of about section -->

<!-- service section -->
<section class="section" id="service">
    <div class="container text-center">
        <p class="section-subtitle">Lo que hago?</p>
        <h6 class="section-title mb-6">Conocimientos</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/pencil-case.svg"
                            alt="Conocimientos varios"
                            class="icon">
                        <h6 class="title">Frontend</h6>
                        <p class="subtitle">Html 5, CSS 3, Javascript, Angular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/toolbox.svg"
                            alt="Conocimientos varios"
                            class="icon">
                        <h6 class="title">Backend</h6>
                        <p class="subtitle">Java, Spring Framework, Spring Boot, NodeJS.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/responsive.svg"
                            alt="Conocimientos varios"
                            class="icon">
                        <h6 class="title">Herramientas</h6>
                        <p class="subtitle">GIT, Maven, Servidor de aplicaciones.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="assets/imgs/analytics.svg"
                            alt="Conocimientos varios"
                            class="icon">
                        <h6 class="title">Bases de datos</h6>
                        <p class="subtitle">PostgreSQL, MySQL, Oracle PL/SQL.</p>
                    </div>
                </div>
            </div>
        </div><!-- end of row -->
    </div>
</section><!-- end of service section -->

<!-- portfolio section -->
<!--
<section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">Lo que hice?</p>
        <h6 class="section-title mb-6">Experiencia</h6>
    
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img src="assets/imgs/exp-1.png" class="portfolio-card-img"
                        alt="Universidad Columbia">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>Universidad Columbia</h4>
                                <p class="font-weight-normal">Desarrollador Jr.</p>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img class="portfolio-card-img" src="assets/imgs/exp-2.png" class="img-responsive rounded"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>SET</h4>
                                <p class="font-weight-normal">Desarrollador</p>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img class="portfolio-card-img" src="assets/imgs/exp-3.png" class="img-responsive rounded"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>Mitic</h4>
                                <p class="font-weight-normal">Especialista en sistemas</p>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="portfolio-card">
                    <img src="assets/imgs/exp-4.png" class="portfolio-card-img"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>Ministerio de Economía y Finanzas</h4>
                                <p class="font-weight-normal">Analista/Desarrollador</p>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- pricing section -->
<!-- <section class="section" id="pricing">
    <div class="container text-center">
        <p class="section-subtitle">How Much I Charge ?</p>
        <h6 class="section-title mb-6">My Pricing</h6>

        <div class="pricing-wrapper">
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/scooter.svg"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Free</h6>
                    <div class="pricing-card-list">
                        <p>accusamus reprehenderit</p>
                        <p>provident dolorem </p>
                        <p>quos neque</p>
                        <p>fugiat quibusdam</p>
                        <p><i class="ti-close"></i></p>
                        <p><i class="ti-close"></i></p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>0.00/Month</span>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
            </div>
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/shipped.svg"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Basic</h6>
                    <div class="pricing-card-list">
                        <p>accusamus reprehenderit</p>
                        <p>provident dolorem </p>
                        <p>quos neque</p>
                        <p>fugiat quibusdam</p>
                        <p>accusamus laboriosam</p>
                        <p><i class="ti-close"></i></p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>9.99/Month</span>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
            </div>
            <div class="pricing-card">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/startup.svg"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">Premium</h6>
                    <div class="pricing-card-list">
                        <p>accusamus reprehenderit</p>
                        <p>provident dolorem </p>
                        <p>quos neque</p>
                        <p>fugiat quibusdam</p>
                        <p>accusamus laboriosam</p>
                        <p>inventore omnis</p>
                    </div>
                </div>
                <div class="pricing-card-footer">
                    <span>$</span>
                    <span>99.9/Month</span>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
            </div>

        </div>
    </div> 
</section> -->

<!-- section -->
<!--     <section class="section-sm bg-primary">
    <div class="container text-center text-sm-left">
        <div class="row align-items-center">
            <div class="col-sm offset-md-1 mb-4 mb-md-0">
                <h6 class="title text-light">Want to work with me?</h6>
                <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
            </div>
            <div class="col-sm offset-sm-2 offset-md-3">
                <button class="btn btn-lg my-font btn-light rounded">Hire Me</button>
            </div>
        </div> 
    </div>
</section>  -->

<!-- testimonial section -->
<!--     <section class="section" id="testmonial">
    <div class="container text-center">
        <p class="section-subtitle">What Think Client About Me ?</p>
        <h6 class="section-title mb-6">Testmonial</h6>
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="assets/imgs/avatar2.jpg" class="testimonial-card-img"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis
                            adipisci nihil.</p>
                        <h6 class="testimonial-card-title">Emily Reb</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-card">
                    <div class="testimonial-card-img-holder">
                        <img src="assets/imgs/avatar3.jpg" class="testimonial-card-img"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="testimonial-card-body">
                        <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis
                            adipisci nihil.</p>
                        <h6 class="testimonial-card-title">Emily Reb</h6>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>  -->

<!-- blog section -->
<!--     <section class="section" id="blog">
    <div class="container text-center">
        <p class="section-subtitle">Recent Posts?</p>
        <h6 class="section-title mb-6">Blog</h6>
        <div class="blog-card">
            <div class="blog-card-header">
                <img src="assets/imgs/img-1.jpg" class="blog-card-img"
                    alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="blog-card-body">
                <h5 class="blog-card-title">Consectetur adipisicing elit</h6>

                    <p class="blog-card-caption">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                        <a href="#"><i class="ti-comment"></i> 123</a>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt qui sit velit
                        delectus voluptates, repellat ipsum culpa id deleniti. Rerum debitis facilis accusantium
                        neque numquam mollitia modi quasi distinctio.</p>

                    <p><b>Necessitatibus nihil impedit! Ex nisi eveniet, dolor aliquid consequuntur repudiandae.</b>
                    </p>
                    <p>Magnam in repellat enim harum omnis aperiam! Explicabo illo, commodi, dolor blanditiis
                        cupiditate harum nisi vero accusamus laudantium voluptatibus dolores quae obcaecati.</p>

                    <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
            </div>
        </div>

        <div class="blog-card">
            <div class="blog-card-header">
                <img src="assets/imgs/img-2.jpg" class="blog-card-img"
                    alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="blog-card-body">
                <h5 class="blog-card-title">Explicabo illo</h6>

                    <p class="blog-card-caption">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                        <a href="#"><i class="ti-comment"></i> 264</a>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi laborum enim,
                        vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro
                        quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto
                        omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae?
                        Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non
                        dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus
                        eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>

                    <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</section> -->

<!-- contact section -->
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">Cómo puedes comunicarte?</p>
        <h6 class="section-title mb-5">Contacto</h6>
        <br>
        <br>
        <div class="form-group col-sm-12 mt-5 mb-5">
            <a class="btn btn-outline-primary rounded"href="mailTo:cesarrodrigoramirez@gmail.com">{{correo}}</a>
        </div>
        <br>
        <br>

        <!-- contact form -->
        <!-- <form action="" class="contact-form col-md-10 col-lg-8 m-auto">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" placeholder="Nombre" required>
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Correo electrónico" requried>
                </div>
                <div class="form-group col-sm-12">
                    <textarea name="comment" id="comment" rows="6" class="form-control"
                        placeholder="Escribe algo"></textarea>
                </div>
                <div class="form-group col-sm-12 mt-3">
                    <input type="submit" value="Enviar" class="btn btn-outline-primary rounded">
                </div>
            </div>
        </form> -->
    </div><!-- end of container -->
</section><!-- end of contact section -->