   <!-- footer -->
   <div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; 
            Rodrigo Ramirez {{anio}}- Theme
            <a href="http://www.devcrud.com">DevCRUD</a> 
            <!--Distribution <a href="https://themewagon.com">ThemeWagon</a>-->
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.linkedin.com/in/rodrigo-ramirez-3ba652117/" class="link" target="_blank"><i class="ti-linkedin" ></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
            <a href="https://github.com/w0zner" class="link" target="_blank"><i class="ti-github"></i></a>
            <a href="javascript:void(0)" class="link" ><i class="ti-linux"></i></a>
            
            <!-- <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a> -->
        </div>
    </footer>
</div> 